<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<!-- CSS CARDS -->

<style>
    .card-view {
        background: #ffffff;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 315px;
        margin: 2em auto;
        border-radius: 10px;
    }

    .card-header {
        padding: 0;
        margin: 0;
        height: 367px;
        width: 100%;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .imgFond1 {
        background: url("../img/home/movie1.jpg");
        background-size: cover;
        background-position: 10% 20%;
    }

    .imgFond2 {
        background: url("../img/home/movie2.jpg");
        background-size: cover;
        background-position: 10% 9%;
    }

    .imgFond3 {
        background: url("../img/home/movie3.jpg");
        background-size: cover;
        background-position: 10% 55%;
    }

    .card-header-icon {
        position: relative;
    }

    .header-icon {
        width: 100%;
        height: 367px;
        line-height: 367px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        color: #ffffff;
        font-size: 54px;
        text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
        opacity: .85;
    }

    .header-icon:hover {
        background: rgba(0, 0, 0, 0.15);
        font-size: 74px;
        text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        opacity: 1;
    }

    .card-view:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    }

    .card-movie-content {
        padding: 18px 18px 24px 18px;
        margin: 0;
    }

    .card-movie-content-head,
    .card-movie-info {
        display: table;
        width: 100%;
    }

    .card-movie-title {
        font-size: 22px;
        margin: 0;
        display: table-cell;
    }

    .ratings {
        width: 50px;
        height: 15px;
        background-size: contain;
        display: table-cell;
        text-align: right;
        position: relative;
        margin-top: 5px;
        font-weight: 600;
    }

    .ratings span {
        color: #2196F3;
    }

    .card-movie-info {
        margin-top: 1em;
    }

    .movie-running-time {
        display: table-cell;
        text-transform: uppercase;
        text-align: center;
    }

    .movie-running-time:first-of-type {
        text-align: left;
    }

    .movie-running-time:last-of-type {
        text-align: right;
    }

    .movie-running-time label {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: .5em;
        font-size: 9px;
    }

    .movie-running-time span {
        font-weight: 700;
        font-size: 11px;
    }
</style>
</head>

<body>

    <!-- _____________ BLOC FILMS CARDS _____________ -->

    <div class="row">

        <div class="card-view reveal-2">
            <div class="card-header imgFond1">
                <div class="card-header-icon">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#videoModal"
                        data-video="https://www.youtube.com/embed/yOZA2y_dQA4">
                        <i class="material-icons header-icon">play_arrow</i>
                    </a>
                </div>
            </div>

            <div class="card-movie-content">
                <div class="card-movie-content-head">
                    <a href="http://localhost:8000/show/38">
                        <h3 class="card-movie-title">Ça: Chapitre 2</h3>
                    </a>
                    <div class="ratings"><span>6.6</span>/10</div>
                </div>
                <div class="card-movie-info">
                    <div class="movie-running-time">
                        <label>Date de sortie</label>
                        <span>11 septembre 2019</span>
                    </div>
                    <div class="movie-running-time">
                        <label>Durée</label>
                        <span>2h50min</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="card-view reveal-2">
            <div class="card-header imgFond2">
                <div class="card-header-icon">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#videoModal"
                        data-video="https://www.youtube.com/embed/OoTx1cYC5u8">
                        <i class="material-icons header-icon">play_arrow</i>
                    </a>
                </div>
            </div>
            <div class="card-movie-content">
                <div class="card-movie-content-head">
                    <a href="http://localhost:8000/show/1">
                        <h3 class="card-movie-title">Joker</h3>
                    </a>
                    <div class="ratings"><span>9.1</span>/10</div>
                </div>
                <div class="card-movie-info">
                    <div class="movie-running-time">
                        <label>Date de sortie</label>
                        <span>4 octobre 2019</span>
                    </div>
                    <div class="movie-running-time">
                        <label>Durée</label>
                        <span>2h02min</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="card-view reveal-2">
            <div class="card-header imgFond3">
                <div class="card-header-icon">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#videoModal"
                        data-video="https://www.youtube.com/embed/R2kmlH2VkME">
                        <i class="material-icons header-icon">play_arrow</i>
                    </a>
                </div>
            </div>
            <div class="card-movie-content">
                <div class="card-movie-content-head">
                    <a href="http://localhost:8000/show/34">
                        <h3 class="card-movie-title">Maléfique : Le Pouvoir du Mal</h3>
                    </a>
                    <div class="ratings"><span>8.2</span>/10</div>
                </div>
                <div class="card-movie-info">
                    <div class="movie-running-time">
                        <label>Date de sortie</label>
                        <span>16 octobre 2019</span>
                    </div>
                    <div class="movie-running-time">
                        <label>Durée</label>
                        <span>1h59min</span>
                    </div>
                </div>
            </div>
        </div>


        <!-- _____________ MODAL YOUTUBE _____________ -->

        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark border-dark">
                        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body bg-dark p-0">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

   