{% extends 'base.html.twig' %}

{% block title %}Editer un commentaire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/app.css">
{% endblock %}

{% block body %}
<div class="container">

    <h1 class="titlePage">Editer un commentaire</h1>

    {{ include('admin/actor/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    <a href="{{ path('index') }}" class="btn btn-info">Retour au menu</a>

</div>

{% endblock %}

{% block javascripts %}
    <script src="../../js/anime.min.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
{% endblock %}
